body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

video {
  margin-top: 20px;
  border: 2px solid #333;
  border-radius: 8px;
  width: 500px;
  height: auto;
}

#output {
  margin-top: 20px;
  font-size: 24px;
  color: #222;
}
